/*!
 * jqGrid 4.13.3-pre - free jqGrid: https://github.com/free-jqgrid/jqGrid 
 * Date: 2016-04-22
 */

/* Grid */
.ui-jqgrid {
	position: relative;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	-ms-touch-action: none;
	touch-action: none;
}
.ui-jqgrid div {
	line-height: normal;
}
.ui-jqgrid table {
	border-collapse: separate;
	border-spacing: 0;
	border-width: 0;
	border-style: none;
}
.ui-jqgrid table td {
	padding: 0;
}
.ui-jqgrid > .ui-jqgrid-view {
	position: relative;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	left: 0;
	top: 0;
	padding: 0;
	font-size: 11px;
}
.ui-jqgrid > .ui-jqgrid-view *,
.ui-jqgrid > .ui-jqgrid-view *:before,
.ui-jqgrid > .ui-jqgrid-view *:after {
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
}

/* Caption of grid and title of ui-jqdialog */
.ui-jqgrid .ui-jqgrid-titlebar,
.ui-jqgrid .ui-jqgrid-errorbar,
.ui-jqdialog .ui-jqdialog-titlebar {
	padding: .3em .3em .3em .3em;
	position: relative;
	font-size: 12px;
	border-left: 0 none;
	border-right: 0 none;
	border-top: 0 none;
}
.ui-jqgrid-errorbar {
	max-height: 100px;
	margin-bottom: 0;
	overflow: auto;
}
.ui-jqgrid .ui-jqgrid-caption,
.ui-jqgrid .ui-jqgrid-errorbar-ltr {
	text-align: left;
}
.ui-jqgrid .ui-jqgrid-caption-rtl,
.ui-jqgrid .ui-jqgrid-errorbar-rtl {
	text-align: right;
}
/* Close/Hide button */
.ui-jqgrid-titlebar > .ui-jqgrid-titlebar-close,
.ui-jqdialog-titlebar > .ui-jqdialog-titlebar-close {
	vertical-align: middle;
	text-align: center;
	text-decoration: none;
	position: absolute;
	top: 50%;
	width: 1.4em;
	line-height: 1.5em;
	font-size: 12px;
	margin: -0.7em 0 0 0;
	padding: .2em;
	border: 1px solid transparent;
	height: 1.4em;
	cursor: pointer;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.ui-jqgrid-jquery-ui .ui-jqdialog-titlebar > .ui-jqdialog-titlebar-close {
	margin: -8px 0 0 0;
}
.ui-jqgrid .ui-jqgrid-caption .ui-jqgrid-titlebar-close {
	right: .1em;
}
.ui-jqgrid .ui-jqgrid-caption-rtl .ui-jqgrid-titlebar-close {
	left: .1em;
}
.ui-jqdialog .ui-jqdialog-titlebar-ltr .ui-jqdialog-titlebar-close {
	right: .3em;
}
.ui-jqdialog .ui-jqdialog-titlebar-rtl .ui-jqdialog-titlebar-close {
	left: .3em;
}
.ui-jqgrid-titlebar > .ui-jqgrid-titlebar-close,
.ui-jqdialog-titlebar > .ui-jqdialog-titlebar-close {
	-ms-border-radius: .5em;
	border-radius: .5em;
}

.ui-jqgrid .ui-jqgrid-caption .ui-jqgrid-title,
.ui-jqgrid .ui-jqgrid-errorbar-ltr .ui-jqgrid-error,
.ui-jqdialog .ui-jqdialog-titlebar-ltr .ui-jqdialog-title {
	position: relative;
	left: .1em;
}
.ui-jqgrid .ui-jqgrid-caption-rtl .ui-jqgrid-title,
.ui-jqgrid .ui-jqgrid-errorbar-rtl .ui-jqgrid-error,
.ui-jqdialog .ui-jqdialog-titlebar-rtl .ui-jqdialog-title {
	position: relative;
	right: .1em;
}
.ui-jqgrid-titlebar > .ui-jqgrid-titlebar-close span {
	margin-top: 0;
	margin-left: 0;
}
.ui-jqgrid-titlebar > .ui-jqgrid-titlebar-close span,
.ui-jqdialog-titlebar > .ui-jqdialog-titlebar-close span {
	display: block;
}
.ui-jqgrid-titlebar > .ui-jqgrid-titlebar-close span.ui-icon,
.ui-jqdialog-titlebar > .ui-jqdialog-titlebar-close span.ui-icon {
	position: relative;
	top: -2px;
}
.ui-jqgrid .ui-jqgrid-caption .ui-jqgrid-titlebar-close span.ui-icon,
.ui-jqdialog-titlebar-ltr .ui-jqdialog-titlebar-close span.ui-icon {
	right: 3px;
}

.ui-jqgrid .ui-jqgrid-titlebar > .ui-jqgrid-titlebar-close > span.ui-icon {
	margin-top: -1px;
}

.ui-jqgrid .ui-jqgrid-titlebar > .ui-jqgrid-titlebar-close > span.fa,
.ui-jqgrid .ui-jqgrid-titlebar > .ui-jqgrid-titlebar-close > span.glyphicon {
	/*  the values below are based on the difference between the
		font-size of fa-icon and the font size of the parent element */
	font-size: 14px;
	margin-top: -2px;
}
.ui-jqgrid .ui-jqgrid-titlebar > .ui-jqgrid-titlebar-close > span.fa {
	margin-left: -1px;
}
.ui-jqgrid .ui-jqgrid-titlebar > .ui-jqgrid-titlebar-close > span.glyphicon {
	margin-left: -2px;
}
.ui-jqdialog-titlebar .ui-jqdialog-titlebar-close > span {
	margin-top: -1px;
}
.ui-jqdialog-titlebar .ui-jqdialog-titlebar-close > span.glyphicon {
	margin-top: -.05em;
	margin-left: -.05em;
}

/* Resizer */
.ui-jqdialog .ui-resizable-handle {
	right: -3px;
	bottom: -3px;
}
.ui-jqdialog .ui-resizable-handle.fa {
	bottom: 1px;
	right: -2px;
}
.ui-jqdialog .ui-resizable-handle.glyphicon {
	right: -2px;
	bottom: -3.8px;
}

/* Header */
.ui-jqgrid > .ui-jqgrid-view > .ui-jqgrid-hdiv {
	position: relative;
	margin: 0;
	padding: 0;
	overflow: hidden;
	border-left: 0 none;
	border-top: 0 none;
	border-right: 0 none;
	height: auto;
}
.ui-jqgrid .ui-jqgrid-hbox {
	float: left;
	padding-right: 20px;
}
.ui-jqgrid .ui-jqgrid-htable {
	table-layout: fixed;
	margin: 0;
}
.ui-jqgrid .ui-jqgrid-htable th {
	height: auto;
	padding: 0 2px 0 2px;
}
.ui-jqgrid .ui-jqgrid-htable th.jqgh_cbox {
	padding: 0;
}
.ui-jqgrid .ui-jqgrid-htable .ui-jqgrid-labels th div {
	overflow: hidden;
	position: relative;
	height: auto;
	margin: 2px 2px;
}
.ui-jqgrid .ui-jqgrid-htable .ui-jqgrid-labels > th.jqgh_cbox {
	vertical-align: middle;
}
.ui-jqgrid .ui-jqgrid-htable .ui-jqgrid-labels .jqgh_cbox > div {
	text-align: center;
	vertical-align: baseline;
	margin: 0;
}
.ui-jqgrid-labels .ui-th-column-header,
.ui-jqgrid .ui-jqgrid-labels th.ui-th-column,
.ui-jqgrid .ui-jqgrid-legacy-subgrid .ui-th-subgrid {
	overflow: hidden;
	white-space: nowrap;
	text-align: center;
}
.ui-jqgrid .ui-jqgrid-labels th.ui-th-column {
	border-top: 0 none;
	border-bottom: 0 none;
}
.ui-th-ltr,
.ui-jqgrid .ui-jqgrid-htable th.ui-th-ltr {
	border-left: 0 none;
}
.ui-th-rtl,
.ui-jqgrid .ui-jqgrid-htable th.ui-th-rtl {
	border-right: 0 none;
}
.ui-first-th-ltr {
	border-right: 1px solid;
}
.ui-first-th-rtl {
	border-left: 1px solid;
}
.ui-jqgrid .ui-th-div-ie {
	white-space: nowrap;
	zoom: 1;
	height: 17px;
}
.ui-jqgrid .ui-th-column > .jqgh_cbox {
	margin: 3px 0;
}
.ui-jqgrid .ui-th-column .cbox {
	margin: .1em;
	cursor: pointer;
	text-align: center;
	vertical-align: middle;
}
.ui-jqgrid.ui-jqgrid-bootstrap .ui-th-column .cbox {
	height: 18px;
	width: 18px;
}
.ui-jqgrid .ui-th-column .ui-th-div-ie > .cbox {
	margin-left: -1px;
	margin-right: -1px;
}
.ui-jqgrid .ui-jqgrid-labels > .ui-th-column > .ui-jqgrid-resize {
	height: 22px;
	width: .3em;
	position: relative;
	cursor: col-resize;
	-webkit-touch-callout: none;
	-ms-user-select: none;
	-moz-user-select: -moz-none;
	-webkit-user-select: none;
	user-select: none;
	display: inline;
	overflow: hidden;
}

.ui-jqgrid .ui-grid-ico-sort {
	overflow: hidden;
	position: absolute;
	display: inline;
}
.ui-grid-ico-sort {
	/* use pointer cursor over all visible icons. It can be important if
		viewsortcols: [true, "vertical", false] or viewsortcols: [true, "horizontal", false]
		mode are used. The viewsortcols[2] element means that sorting are made only on clicking
		on the sorting icon. So the class ui-jqgrid-sortable will be not added to the div of
		the column header. It informs the user that clicking on the text of the column header
		will do nothing. One still need to have the cursor over the icon which inform about sorting.
	*/
	cursor: pointer;
}
.ui-state-disabled.ui-grid-ico-sort {
	cursor: pointer !important; /* to overwrite .ui-state-disabled { cursor: default !important; } from jQuery UI */
}
.ui-jqgrid .s-ico {
	position: relative;
	width: .87em;
	height: 1.125em;
	display: inline-block;
	vertical-align: middle;
	margin: 0 .1em
}
.ui-jqgrid .s-ico > .ui-grid-ico-sort {
	display: block;
	position: relative;
}
.ui-jqgrid .s-ico > .ui-grid-ico-sort.ui-icon {
	width: 12px;
}
.ui-jqgrid .s-ico > .ui-icon-asc.ui-icon {
	top: -6px;
}
.ui-jqgrid .s-ico > .ui-icon-desc.ui-icon {
	top: -16px;
}
.ui-jqgrid .s-ico > .ui-icon-asc.ui-icon.ui-sort-ltr {
	margin-left: -3px;
}
.ui-jqgrid .s-ico > .ui-icon-desc.ui-icon.ui-sort-ltr {
	margin-left: -4px;
}
.ui-jqgrid .s-ico > .ui-icon-asc.ui-icon.ui-sort-rtl {
	margin-right: 0;
}
.ui-jqgrid .s-ico > .ui-icon-desc.ui-icon.ui-sort-rtl {
	margin-right: 1px;
}

.ui-jqgrid .ui-th-column > div {
	cursor: default;
}
.ui-jqgrid .ui-th-column > div.ui-jqgrid-sortable {
	cursor: pointer;
}
.ui-jqgrid .ui-jqgrid-hdiv .ui-search-toolbar {
	border-top-width: 1px;
	border-top-style: solid;
}
.ui-jqgrid .ui-jqgrid-hdiv .ui-search-toolbar .ui-th-column {
	border-top-width: 1px;
	border-top-style: solid;
}
.ui-jqgrid .ui-jqgrid-hdiv .ui-search-toolbar input {
	margin: 1px 0 0 0;
}
.ui-jqgrid .ui-jqgrid-hdiv .ui-search-toolbar select {
	margin: 1px 0 0 0;
}

/* Grig body */ 
.ui-jqgrid .ui-jqgrid-bdiv {
	min-height: 1px;
	position: relative;
	margin: 0;
	padding: 0;
	overflow: auto;
	text-align: left;
}
.ui-jqgrid .ui-jqgrid-btable {
	table-layout: fixed;
	margin: 0;
	outline-style: none;
}
.ui-jqgrid tr.jqgrow,
.ui-jqgrid tr.jqgroup {
	outline-style: none;
}
.ui-jqgrid tr.jqgrow > td,
.ui-jqgrid tr.jqgroup > td,
.ui-jqgrid tr.jqfoot > td,
.ui-jqgrid tr.ui-subgrid > td,
.ui-jqgrid tr.ui-subtblcell > td {
	overflow: hidden;
	white-space: pre;
	vertical-align: middle;
	text-align: center;
	height: 22px;
	border-top: 0 none;
	border-bottom-width: 1px;
	border-bottom-style: solid;
}
.ui-jqgrid-jquery-ui.ui-jqgrid tr.jqgrow > td,
.ui-jqgrid-jquery-ui.ui-jqgrid tr.jqgroup > td,
.ui-jqgrid-jquery-ui.ui-jqgrid tr.jqfoot > td,
.ui-jqgrid-jquery-ui.ui-jqgrid tr.ui-subgrid > td {
	border-bottom-color: inherit;
}
.ui-jqgrid tr.jqgrow > td,
.ui-jqgrid tr.jqgroup > td,
.ui-jqgrid tr.jqfoot > td {
	padding: 0 2px 0 2px;
}
.ui-jqgrid tr.ui-subgrid > td {
	padding: 0;
}
.ui-jqgrid tr.jqgfirstrow > td {
	padding: 0 2px 0 2px;
	border-top: 0 none;
	border-left: 0 none;
	border-right: 1px solid;
	border-bottom: 0 none;
}
.ui-jqgrid tr.jqgfirstrow > td.td_cbox {
	padding: 0;
}
.ui-jqgrid tr.jqgrow > td,
.ui-jqgrid tr.jqgroup > td,
.ui-jqgrid tr.jqfoot > td {
	font-weight: normal;
}
.ui-jqgrid tr.jqfoot > td {
	font-weight: bold;
}
.ui-jqgrid .ui-jqgrid-bdiv tr.ui-row-ltr > td {
	text-align: left;
	border-left-width: 0;
	border-left-style: none;
	border-right-width: 1px;
	border-right-style: solid;
}
.ui-jqgrid-jquery-ui.ui-jqgrid .ui-jqgrid-bdiv tr.ui-row-ltr > td {
	border-color: inherit;
}
.ui-jqgrid .ui-jqgrid-bdiv tr.ui-row-rtl > td {
	text-align: right;
	border-right-width: 0;
	border-right-style: none;
	border-left-width: 1px;
	border-left-style: solid;
}
.ui-jqgrid-jquery-ui.ui-jqgrid .ui-jqgrid-bdiv tr.ui-row-rtl > td {
	border-color: inherit;
}
.ui-jqgrid .ui-jqgrid-btable td.jqgrid-rownum {
	padding: 0 2px 0 2px;
	margin: 0;
	border-width: 0;
	border-style: none;
}
.ui-jqgrid .ui-jqgrid-btable td.jqgrid-rownum {
	border-bottom-width: 1px;
	border-bottom-style: solid;
}
.ui-jqgrid-jquery-ui.ui-jqgrid .ui-jqgrid-btable td.jqgrid-rownum {
	border-bottom-color: inherit;
}
.ui-jqgrid .jqgrow > td.td_cbox {
	padding: 0;
	text-align: center;
	vertical-align: middle;
}
.ui-jqgrid .jqgrow > td.ui-sgcollapsed {
	text-align: center;
	vertical-align: middle;
}
.ui-jqgrid tr.jqgrow > td.td_cbox {
	padding: 0;
}
.ui-jqgrid .jqgrow > td > .cbox {
	height: 14px;
	width: 14px;
	cursor: pointer;
	text-align: center;
	vertical-align: middle;
}
.ui-jqgrid > .ui-jqgrid-resize-mark,
body > .ui-jqgrid-resize-mark {
	width: 0;
	left: 0;
	cursor: col-resize;
	-webkit-touch-callout: none;
	-ms-user-select: none;
	-moz-user-select: -moz-none;
	-webkit-user-select: none;
	user-select: none;
	position: absolute;
	top: 0;
	overflow: hidden;
	display: none;
	border-left-width: 1px;
	border-right-width: 1px;
	z-index: 99999;
}

span.ui-jqgrid-cell-wrapper {
	margin: 0 !important;
	padding: 0 !important;
}

/* Footer */
.ui-jqgrid > .ui-jqgrid-view > .ui-jqgrid-sdiv {
	position: relative;
	margin: 0;
	padding: 0;
	overflow: hidden;
	border-left: 0 none;
	border-top: 0 none;
	border-right: 0 none;
}
.ui-jqgrid .ui-jqgrid-ftable {
	table-layout: fixed;
	margin-bottom: 0;
}
.ui-jqgrid tr.footrow td {
	font-weight: bold;
	overflow: hidden;
	white-space: nowrap;
	height: 21px;
	padding: 0 2px 0 2px;
	border-top-width: 1px;
	border-top-style: solid;
	border-bottom-width: 1px;
	border-bottom-style: solid;
}
.ui-jqgrid-jquery-ui.ui-jqgrid tr.footrow td {
	border-top-color: inherit;
	border-bottom-color: inherit;
}
.ui-jqgrid tr.footrow-ltr td {
	text-align: left;
	border-left-width: 0;
	border-left-style: none;
	border-right-width: 1px;
	border-right-style: solid;
}
.ui-jqgrid-jquery-ui.ui-jqgrid tr.footrow-ltr td {
	border-color: inherit;
}
.ui-jqgrid tr.footrow-rtl td {
	text-align: right;
	border-left-width: 1px;
	border-left-style: solid;
	border-right-width: 0;
	border-right-style: none;
}
.ui-jqgrid-jquery-ui.ui-jqgrid tr.footrow-rtl td {
	border-color: inherit;
}

/* Pager */
.ui-jqgrid > .ui-jqgrid-pager {
	border: 0 none;
	margin: 0;
	padding: 0;
	position: relative;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	height: auto;
	min-height: 22px;
	overflow: hidden;
	font-size: 11px;
}
.ui-jqgrid > .ui-jqgrid-pager *,
.ui-jqgrid > .ui-jqgrid-pager *:before,
.ui-jqgrid > .ui-jqgrid-pager *:after {
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
}
.ui-jqgrid .ui-jqgrid-toppager .ui-pager-control,
.ui-jqgrid .ui-jqgrid-pager .ui-pager-control {
	position: relative;
	border-left: 0;
	border-bottom: 0;
	border-top: 0;
}
.ui-jqgrid .ui-pg-table {
	position: relative;
	padding: 0;
	width: auto;
	margin: 0;
}
.jqgrow .ui-jqgrid-actions {
	background: inherit;
	border-style: none;
}
.ui-jqgrid .ui-pg-button:not(.ui-state-hover),
.jqgrow .ui-jqgrid-actions .ui-pg-div:not(.ui-state-hover) {
	border: 1px solid transparent;
}
.ui-pager-control .ui-pg-table {
	border-color: inherit;
}
.ui-jqgrid .ui-pg-button:hover,
.ui-jqgrid .ui-pg-button.ui-state-hover,
.ui-jqgrid .ui-pg-button:focus,
.jqgrow .ui-jqgrid-actions .ui-pg-div:hover,
.jqgrow .ui-jqgrid-actions .ui-pg-div.ui-state-hover,
.jqgrow .ui-jqgrid-actions .ui-pg-div:focus {
	border-style: solid;
	border-color: inherit;
}
.ui-jqgrid .ui-pg-table td {
	font-weight: normal;
	vertical-align: middle;
	padding: 1px;
}
.ui-jqgrid .ui-pager-control .ui-pg-button {
	display: inline-block;
	height: auto;
}
.ui-jqgrid .ui-pg-button span {
	display: block;
	margin: 1px;
	float: left;
}
.ui-jqgrid .ui-pg-table .ui-pg-input,
.ui-jqgrid .ui-pg-table .ui-pg-selbox {
	height: auto;
	width: auto;
	margin: 0;
	line-height: inherit;
}
.ui-jqgrid .ui-pg-table .ui-pg-selbox {
	display: block;
	padding: 1px;
}
.ui-jqgrid .ui-separator {
	height: 12px;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	margin: -1px;
	float: right;
}
.ui-jqgrid .ui-paging-info {
	font-weight: normal;
	height: auto;
	margin: 0 .2em 0 .2em;
	display: inline;
}
.ui-jqgrid .ui-jqgrid-pager .ui-pg-div {
	padding: 1px 0;
	float: left;
	position: relative;
}
.ui-jqgrid .ui-jqgrid-pager .ui-pg-button {
	cursor: pointer;
}
.ui-jqgrid .ui-jqgrid-pager .ui-pg-div span.ui-icon {
	float: left;
	margin: 0 2px;
}
.ui-jqgrid td input,
.ui-jqgrid td select,
.ui-jqgrid td textarea {
	margin: 0;
}
.ui-jqgrid td textarea {
	width: auto;
	height: auto;
}
.ui-jqgrid > .ui-jqgrid-view > .ui-jqgrid-toppager {
	border-left: 0 none;
	border-right: 0 none;
	border-top: 0 none;
	margin: 0;
	padding: 0;
	position: relative;
	height: auto;
	min-height: 22px;
	overflow: hidden;
}
.ui-jqgrid .ui-jqgrid-toppager .ui-pg-div {
	padding: 1px 0;
	float: left;
	position: relative;
}
.ui-jqgrid .ui-jqgrid-toppager .ui-pg-button {
	cursor: pointer;
}
.ui-jqgrid .ui-jqgrid-toppager .ui-pg-div span.ui-icon {
	float: left;
	margin: 0 2px;
}

/* Navigator buttons */
.ui-jqgrid .ui-pg-table .ui-pg-button {
	margin: 2px;
	vertical-align: middle;
}
.ui-jqgrid .navtable .ui-pg-div span.ui-pg-button-text,
.ui-jqgrid .navtable .ui-pg-div span.ui-pg-button-text {
	padding-left: 0.2em;
	padding-right: 0.2em;
}
.ui-jqgrid .ui-pg-div {
	text-align: center;
	vertical-align: middle;
	display: inline-block;
}
.ui-jqgrid .navtable .ui-pg-div > span.ui-pg-button-icon-over-text {
	margin-left: auto;
	margin-right: auto;
	float: none;
}

/* Subgrid */
.ui-jqgrid .ui-jqgrid-btable .jqgrow > .ui-sgcollapsed {
	text-align: center;
	vertical-align: middle;
}
.ui-jqgrid .ui-jqgrid-btable .ui-sgcollapsed span {
	display: inline-block;
}
.ui-jqgrid .ui-subgrid {
	margin: 0;
	padding: 0;
	width: 100%;
}
.sgbutton {
	cursor: pointer;
}
.ui-jqgrid .ui-subgrid table {
	table-layout: fixed;
}
.ui-jqgrid .ui-subgrid tr.ui-subtblcell td {
	height: 18px;
	border-top: 0 none;
	border-bottom-width: 1px;
	border-bottom-style: solid;
}
.ui-jqgrid-jquery-ui.ui-jqgrid .ui-subgrid tr.ui-subtblcell td {
	border-bottom-color: inherit;
}
.ui-jqgrid .ui-th-subgrid {
	height: 20px;
}
.ui-jqgrid .ui-row-ltr.ui-subgrid > .subgrid-cell > span {
	float: right;
}
.ui-jqgrid .ui-row-rtl.ui-subgrid > .subgrid-cell > span {
	float: left;
}

/* Loading */
.ui-jqgrid > .loading {
	position: absolute;
	top: 45%;
	left: 45%;
	width: auto;
	z-index: 101;
	padding: 6px;
	margin: 5px;
	text-align: center;
	font-weight: bold;
	display: none;
	border-width: 2px;
	font-size: 11px;
}
.ui-jqgrid .jqgrid-overlay {
	display: none;
	z-index: 100;
}
* .jqgrid-overlay iframe {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}

/* Toolbar */
.ui-jqgrid > .ui-jqgrid-view > .ui-userdata {
	border-left: 0 none;
	border-right: 0 none;
	height: 21px;
	overflow: hidden;
}

/* Modal Window */
.ui-jqgrid .ui-jqdialog {
	font-size: 11px;
}
.ui-jqdialog {
	display: none;
	width: 300px;
	position: absolute;
	padding: .2em;
	font-size: 11px;
	overflow: visible;
}
.ui-jqdialog-content,
.ui-jqdialog .ui-jqdialog-content {
	border: 0;
	padding: .3em .2em;
	background: none;
	height: auto;
}
.ui-jqdialog .ui-jqconfirm {
	padding: .4em 1em;
	border-width: 3px;
	position: absolute;
	bottom: 10px;
	right: 10px;
	overflow: visible;
	display: none;
	height: 80px;
	width: 220px;
	text-align: center;
}
.ui-jqgrid > .ui-resizable-se,
.ui-jqdialog > .ui-resizable-se {
	bottom: -3px;
	right: -3px;
}

/* Form edit */
.ui-jqdialog-content .FormGrid {
	margin: 0;
}
.ui-jqdialog-content .EditTable {
	width: 100%;
	margin-bottom: 0;
}
.ui-jqdialog-content .DelTable {
	width: 100%;
	margin-bottom: 0;
}
.EditTable td input,
.EditTable td select,
.EditTable td textarea {
	margin: 0;
}
.EditTable td textarea {
	width: auto;
	height: auto;
}
.ui-jqdialog-content td.EditButton {
	border-top: 0 none;
	border-left: 0 none;
	border-right: 0 none;
	padding: 5px 0;
}
.ui-jqdialog-content td.EditButton-ltr {
	text-align: right;
}
.ui-jqdialog-content td.EditButton-rtl {
	text-align: left;
}
.ui-jqdialog-content td.navButton {
	text-align: left;
	border-left: 0 none;
	border-top: 0 none;
	border-right: 0 none;
	padding: 5px 0;
}
.ui-jqdialog-content td.navButton-ltr {
	text-align: left;
}
.ui-jqdialog-content td.navButton-ltr > .fm-button {
	float: left;
}
.ui-jqdialog-content td.navButton-rtl {
	text-align: right;
}
.ui-jqdialog-content td.navButton-rtl > .fm-button {
	float: right;
}
.ui-jqdialog-content input.FormElement {
	padding: .3em;
}
.ui-jqdialog-content select.FormElement {
	padding: .3em;
}
.ui-jqdialog-content .data-line {
	padding-top: .1em;
	border: 0 none;
}
.ui-jqdialog-content .CaptionTD {
	vertical-align: middle;
	border: 0 none;
	padding: 2px;
	white-space: nowrap;
}
.ui-jqdialog-content .DataTD {
	padding: 2px;
	border: 0 none;
	vertical-align: top;
}
.ui-jqdialog-content .form-view-data {
	white-space: pre;
}
.ui-jqdialog .fm-button {
	display: inline-block;
	padding: .4em .5em;
	text-decoration: none;
	cursor: pointer;
	position: relative;
	text-align: center;
	zoom: 1;
}
.ui-jqdialog .fm-button > span {
	display: inline-block;
	vertical-align: middle;
}
.ui-jqdialog .fm-button .fm-button-text {
	padding: 0 .2em;
}
.ui-jqdialog .EditButton-ltr .fm-button-icon-left .fm-button-icon {
	margin-right: .2em;
}
.ui-jqdialog .EditButton-ltr .fm-button-icon-right .fm-button-icon {
	margin-left: .2em;
}
.ui-jqdialog .EditButton-rtl .fm-button-icon-right .fm-button-icon {
	margin-right: .2em;
}
.ui-jqdialog .EditButton-rtl .fm-button-icon-left .fm-button-icon {
	margin-left: .2em;
}
.delmsg {
	padding: .5em;
}

.ui-jqgrid .selected-row,
.ui-jqgrid .selected-row td {
	font-style: normal;
	border-left: 0 none;
}

/* Inline edit actions button */
.ui-jqgrid .jqgrow .ui-jqgrid-actions {
	display: inline-block;
	vertical-align: middle;
	margin: 0;
}
.jqgrow .ui-jqgrid-actions .ui-pg-div {
	cursor: pointer;
	float: left;
	margin: 0 1px;
}
/* Tree Grid */
.ui-jqgrid .tree-wrap {
	display: inline-block;
	vertical-align: middle;
	white-space: nowrap;
	overflow: hidden;
}
.ui-jqgrid .treeclick {
	cursor: pointer;
	display: inline-block;
	vertical-align: middle;
	width: 18px;
	overflow: hidden;
}
.ui-jqgrid .ui-jqgrid-bdiv .jqgroup .tree-wrap {
	text-align: center;
	padding-left: .1em;
}
.ui-jqgrid .ui-jqgrid-bdiv .jqgroup .tree-wrap.glyphicon {
	margin-top: -.18em;
}

/* Modal dialog */
* iframe.jqm {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}
.ui-jqgrid-dnd tr td {
	border-right-width: 1px;
	border-right-color: inherit;
	border-right-style: solid;
	height: 20px;
}

/* RTL Support */
.ui-jqgrid .ui-jqgrid-caption-rtl {
	text-align: right;
}
.ui-jqgrid .ui-jqgrid-hbox-rtl {
	float: right;
	padding-left: 20px;
}
.ui-jqgrid .ui-jqgrid-resize-ltr {
	float: right;
	margin: -2px -2px -2px 0;
}
.ui-jqgrid .ui-jqgrid-resize-rtl {
	float: left;
	margin: -2px 0 -1px -3px;
}
.ui-jqgrid .ui-sort-rtl {
	left: 0;
}
.ui-jqgrid .cell-wrapperleaf,
.ui-jqgrid .cell-wrapper {
	display: inline-block;
	vertical-align: middle;
}
.ui-jqgrid .ui-ellipsis {
	-moz-text-overflow: ellipsis;
	text-overflow: ellipsis;
}

/* Toolbar Search Menu */
.ui-search-menu {
	position: absolute;
	padding: .2em;
}
.ui-search-menu.ui-menu .ui-menu-item {
	list-style-image: none;
	padding-right: 0;
	padding-left: 0;
}
.ui-search-menu.ui-menu .ui-menu-item a {
	text-decoration: none;
	display: block;
}
.ui-search-toolbar > .ui-th-column > div {
	position: relative;
	height: auto;
	overflow: hidden;
}
.ui-search-toolbar .ui-search-table {
	padding: 0;
	border: 0 none;
	height: 20px;
	width: 100%;
}
.ui-jqgrid .ui-jqgrid-htable .ui-search-toolbar th {
	padding: 0 .1em;
}
.ui-search-toolbar .ui-search-table .ui-search-oper {
	width: 20px;
	text-align: center;
}
.ui-search-toolbar .ui-th-column .ui-search-table .ui-search-input {
	padding: 0 .1em;
}
.ui-search-input input {
	width: 100%;
}
a.g-menu-item,
a.soptclass,
a.clearsearchclass {
	text-decoration: none;
	cursor: pointer;
}
.ui-search-menu .ui-menu-item .g-menu-item {
	padding: .2em;
}
.ui-menu-jqueryui .ui-menu-item .g-menu-item:not(.ui-state-hover) {
	border: 1px solid transparent;
}
.ui-menu-jqueryui .ui-menu-item .g-menu-item:hover {
	font-weight: normal;
}
 
.ui-search-oper {
	padding: 0;
}
.ui-search-clear {
	text-align: center;
	padding: 0;
}
.ui-search-oper .soptclass,
.ui-search-clear .clearsearchclass {
	padding: .1em;
	line-height: 1em;
}
.ui-jqgrid-jquery-ui .ui-search-oper .soptclass:not(.ui-state-hover),
.ui-jqgrid-jquery-ui .ui-search-clear .clearsearchclass:not(.ui-state-hover) {
	border: 1px solid transparent;
}
.ui-search-clear .clearsearchclass span {
	position: relative;
}
.ui-jqgrid .ui-search-table .ui-search-input > input,
.ui-jqgrid .ui-search-table .ui-search-input > select {
	display: block;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.ui-jqgrid > .ui-jqgrid-view input,
.ui-jqgrid > .ui-jqgrid-view select,
.ui-jqgrid > .ui-jqgrid-view textarea,
.ui-jqgrid > .ui-jqgrid-view button {
	font-size: 11px;
}

.ui-jqgrid .s-ico > .ui-grid-ico-sort.glyphicon {
	font-size: 10px;
}
.ui-jqgrid .s-ico > .ui-icon-asc.glyphicon {
	margin-top: -.23em;
}
.ui-jqgrid .s-ico > .ui-icon-desc.glyphicon {
	margin-top: -.34em;
}
/* Support of Font Awesome */
.ui-jqgrid .s-ico > .ui-grid-ico-sort.fa {
	width: .63em;
}
.ui-jqgrid .s-ico > .ui-icon-asc.fa {
	top: 0.07em;
}
.ui-jqgrid .s-ico > .ui-icon-desc.fa {
	top: -0.75em;
}
.ui-jqgrid .s-ico > .ui-icon-asc.fa.ui-sort-ltr,
.ui-jqgrid .s-ico > .ui-icon-desc.fa.ui-sort-ltr {
	left: 0;
}
.ui-jqgrid .s-ico > .ui-icon-asc.fa.ui-sort-rtl,
.ui-jqgrid .s-ico > .ui-icon-desc.fa.ui-sort-rtl {
	right: 0;
}
.ui-jqgrid .s-ico > .ui-state-disabled.fa {
	padding: 0;
}
.jqgrow .ui-pg-div > span.fa {
	font-weight: normal;
	font-size: 12px;
	vertical-align: baseline;
	background: none;
	border: 0 none;
}
.ui-subgrid > .subgrid-cell span.fa {
	font-weight: normal;
	font-size: 12px;
	text-indent: 0;
	background: none;
	border: 0 none;
	margin-bottom: 4px;
}
.jqgrow > .ui-sgcollapsed span.fa {
	font-weight: normal;
	font-size: 12px;
	text-indent: 0;
	background: none;
	border: 0 none;
	margin: 0;
}
.ui-jqgrid .ui-resizable-se.fa {
	-webkit-filter: alpha(opacity=40);
	-moz-filter: alpha(opacity=40);
	-o-filter: alpha(opacity=40);
	filter: alpha(opacity=40);
	-ms-opacity: 0.4;
	opacity: 0.4;
	background: none;
	border-style: none;
	right: -3px;
	font-weight: normal;
}

.ui-jqgrid-ltr .ui-resizable-se.fa {
	right: -3px;
	bottom: 0;
}
.ui-jqgrid-rtl .ui-resizable-se.fa {
	left: 0;
	bottom: 1px;
}

/* Classes for jquery.contextmenu-ui.js plugin we included here */
.jqContextMenu .ui-menu .ui-menu-item a.ui-state-hover {
	font-weight: normal;
	margin: -1px;
}
.jqContextMenu .ui-menu .ui-menu-item.ui-state-hover {
	font-weight: normal;
	margin: -1px;
}
.jqContextMenu .ui-menu-icons > .ui-menu-item {
	font-size: 11px;
}
/* Classes for jQuery.jqGrid.showHideColumnMenu.js plugin */
.ui-jqgrid-showHideColumnMenu .ui-menu-item:hover {
	font-weight: normal;
}
.ui-jqgrid-disablePointerEvents {
	pointer-events: none;
}

/* Bootstrap style support */
.ui-jqgrid.ui-jqgrid-bootstrap {
	border: 1px solid #ddd;
	-ms-border-radius: 6px;
	border-radius: 6px;
}
.ui-jqgrid.ui-jqgrid-bootstrap > .ui-jqgrid-view > .ui-jqgrid-toppager {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}
.ui-jqgrid.ui-jqgrid-bootstrap > .ui-jqgrid-view > .ui-userdata {
	background-color: #f0f0f0;
}
.ui-jqgrid.ui-jqgrid-bootstrap .ui-jqgrid-hdiv,
.ui-jqgrid.ui-jqgrid-bootstrap .ui-jqgrid-legacy-subgrid > thead {
	background-color: #e5e5e5;
}
.ui-jqgrid.ui-jqgrid-bootstrap > .ui-jqgrid-view > .ui-jqgrid-sdiv td {
	background-color: #f9f9f9
}
.ui-jqgrid.ui-jqgrid-bootstrap .ui-jqgrid-titlebar .ui-jqgrid-title,
.ui-jqgrid.ui-jqgrid-bootstrap .ui-jqgrid-errorbar .ui-jqgrid-error,
.ui-jqdialog.ui-jqgrid-bootstrap .ui-jqdialog-titlebar .ui-jqdialog-title {
	font-size: 16px;
}
.ui-jqgrid.ui-jqgrid-bootstrap > .ui-jqgrid-view {
	font-size: 12px;
}
.ui-jqgrid.ui-jqgrid-bootstrap > .ui-jqgrid-view .fa {
	font-size: 14px;
}
.ui-jqdialog.ui-jqgrid-bootstrap {
	font-size: 14px;
}
.ui-jqdialog.ui-jqgrid-bootstrap .ui-jqdialog-content .CaptionTD {
	padding: .5em;
}
.ui-jqgrid.ui-jqgrid-bootstrap tr.jqgfirstrow > td,
.ui-jqgrid.ui-jqgrid-bootstrap tr.jqgrow > td,
.ui-jqgrid.ui-jqgrid-bootstrap tr.jqgroup > td,
.ui-jqgrid.ui-jqgrid-bootstrap tr.jqfoot > td {
	padding: .2em .3em;
}
.ui-jqgrid.ui-jqgrid-bootstrap tr.jqgfirstrow > td {
	padding: 0 .3em;
}
.ui-jqgrid.ui-jqgrid-bootstrap tr.jqgfirstrow > td.td_cbox,
.ui-jqgrid.ui-jqgrid-bootstrap tr.jqgrow > td.td_cbox {
	padding: 0;
}
.ui-jqgrid.ui-jqgrid-bootstrap .jqgrow > td > .cbox {
	height: 18px;
	width: 18px;
	display: inline-block;
	vertical-align: middle;
	text-align: center;
}
.ui-jqgrid.ui-jqgrid-bootstrap .ui-jqgrid-btable td.jqgrid-rownum {
	padding: .2em .3em;
}
.ui-jqgrid.ui-jqgrid-bootstrap .ui-jqgrid-caption,
.ui-jqdialog.ui-jqgrid-bootstrap .ui-jqdialog-titlebar {
	background-color: #cacaca;
	-ms-border-top-left-radius: 6px;
	border-top-left-radius: 6px;
	-ms-border-top-right-radius: 6px;
	border-top-right-radius: 6px;
}

.modal-backdrop.jqgrid-overlay {
	-ms-opacity: .35;
	opacity: .35;
	-webkit-filter: Alpha(Opacity=35);
	-moz-filter: Alpha(Opacity=35);
	-o-filter: Alpha(Opacity=35);
	filter: Alpha(Opacity=35);
}

.ui-jqdialog.ui-jqgrid-bootstrap .ui-jqdialog-content {
	border: 0;
	padding: .3em .2em;
	background: white;
	height: auto;
}
.ui-jqdialog.ui-jqgrid-bootstrap .modal-dialog {
	width: auto;
}
.ui-jqdialog.ui-widget {
	overflow: hidden;
}
.ui-jqdialog  .ui-resizable-handle {
	cursor: se-resize;
	position: absolute;
	-ms-touch-action: none;
	touch-action: none;
}
.ui-jqdialog.ui-jqgrid-bootstrap .modal-content {
	overflow: hidden;
}
.ui-jqdialog.ui-jqgrid-bootstrap .modal-content > .ui-resizable-handle.fa {
	bottom: 1px;
	right: 1px;
	height: 12px;
	width: 12px;
}
.ui-jqdialog.ui-jqgrid-bootstrap .modal-content > .ui-resizable-handle.glyphicon {
	right: -.4em;
}

.ui-jqgrid.ui-jqgrid-bootstrap .disabled {
	opacity: .35;
	filter: Alpha(Opacity=35);
}
.ui-jqgrid-bootstrap.ui-jqgrid-resize-mark {
	border: 1px solid #aaaaaa;
	background-color: #cccccc;
	color: #222222;
	font-weight: bold;
}
.ui-jqgrid .jqgfirstrow {
	border: 0;
}
.ui-jqgrid.ui-jqgrid-bootstrap .jqgfirstrow td {
	border: none;
}
.ui-jqgrid.ui-jqgrid-bootstrap .ui-pg-table .ui-pg-button.ui-state-disabled:hover {
	margin: 0;
}
.ui-jqgrid.ui-jqgrid-bootstrap .navtable .ui-pg-button.ui-state-disabled:hover {
	margin: 0;
}
.ui-jqgrid.ui-jqgrid-bootstrap .ui-pg-table .ui-pg-button {
	margin: .2em 0;
	padding: .2em 0;
	border-radius: .4em;
}
.ui-search-input .form-control {
	height: 18px;
}
.ui-search-input input[type="text"] {
	padding: 0;
}
.ui-search-input input[type="text"].form-control {
	padding: .3em;
}
.ui-search-input select.form-control {
	padding: 0;
}
.ui-jqgrid.ui-jqgrid-bootstrap .ui-jqgrid-actions .ui-pg-div.btn {
	padding: 0;
	margin: 0;
	box-shadow: none;
}
.ui-jqgrid.ui-jqgrid-bootstrap tr.jqgrow .sgbutton-div .sgbutton.btn {
	padding: 0;
	cursor: pointer;
	border: 1px solid transparent;
	margin: -.3em -.3em;
}
.ui-jqgrid.ui-jqgrid-bootstrap .sgbutton-div .sgbutton.btn:focus,
.ui-jqgrid.ui-jqgrid-bootstrap .sgbutton-div .sgbutton.btn:hover {
	border: 1px solid #333;
}
.ui-jqdialog.ui-jqgrid-bootstrap .ui-jqdialog-content {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}
.ui-jqgrid.ui-jqgrid-bootstrap .ui-pager-control .ui-pg-input {
	display: inline-block;
	font-size: 12px;
	padding: .3em;
}
.ui-jqgrid.ui-jqgrid-bootstrap > .ui-jqgrid-pager {
	font-size: 12px;
}
.ui-jqgrid.ui-jqgrid-bootstrap .ui-jqgrid-bootstrap-corner-top {
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}
.ui-jqgrid.ui-jqgrid-bootstrap .ui-jqgrid-bootstrap-corner-bottom {
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
}
.ui-jqgrid.ui-jqgrid-bootstrap .ui-pager-control .ui-pg-selbox {
	font-size: 12px;
	padding: 0;
}
.ui-jqdialog.ui-jqgrid-bootstrap .FormData .CaptionTD {
	font-size: 14px;
}
.FormData .DataTD {
	vertical-align: middle;
}
.FormData .DataTD input[type="checkbox"] {
	vertical-align: middle;
}
.ui-jqdialog.ui-jqgrid-bootstrap .FormData .DataTD input.form-control[type="checkbox"] {
	width: 34px; /* change width:100% to the width the same like the height */
}
.DelTable .delmsg {
	padding: .2em;
}
.queryresult {
	margin-bottom: 1em;
}
.group.modal-content tr td {
	padding: .2em .1em;
}
.searchFilter .form-control {
	padding: .1em;
	height: 22px;
}
.ui-jqdialog.ui-jqgrid-bootstrap .modal-header .close {
	margin-top: -0.7em;
}
.ui-jqdialog .glyphicon,
.ui-jqgrid .glyphicon {
	font-size: 12px;
	top: auto;
}
.ui-jqdialog.ui-jqgrid-bootstrap .glyphicon,
.ui-jqgrid.ui-jqgrid-bootstrap .glyphicon {
	font-size: 14px;
	top: auto;
	height: 1em;
	width: 1.28em;
}
.ui-jqgrid .ui-pg-button span.glyphicon {
	display: inline-block;
	text-align: center;
	/*margin-left: auto;
	margin-right: auto;
	padding: 0 .1em;*/
	vertical-align: middle;
}
.ui-jqgrid-actions .glyphicon {
	padding: .1em;
}
.ui-jqgrid.ui-jqgrid-bootstrap .ui-jqgrid-titlebar > .ui-jqgrid-titlebar-close > span.glyphicon {
	margin-top: -.125em;
	margin-left: -.275em;
}
.ui-jqdialog.ui-jqgrid-bootstrap .ui-jqdialog-titlebar  > .ui-jqdialog-titlebar-close > span.glyphicon {
	margin-top: -.1em;
	margin-left: -.28em;
}
.tree-wrap > .treeclick {
	line-height: 1;
}
.tree-wrap > .treeclick.glyphicon {
	margin-top: -.2em;
	font-size: 12px;
}
.subgrid-data .ui-jqgrid-bootstrap .ui-jqgrid-hdiv .ui-jqgrid-htable,
.subgrid-data .ui-jqgrid-bootstrap .ui-jqgrid-bdiv .ui-jqgrid-btable {
    background-color: transparent;
}
.subgrid-data .ui-jqgrid-legacy-subgrid  {
	margin: 0;
}
